.root {
  background: var(--color-border);
  border: none;
  flex-shrink: 0;
}

.root[data-orientation='horizontal'] {
  height: 1px;
  width: 100%;
  margin: 0;
}

.root[data-orientation='vertical'] {
  width: 1px;
  height: 100%;
}
